*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;

}

.header__iguana{
    background-image: url(../images/bg-header.jpg);
    height: 727px;
    background-size: cover;

}


.container{
    margin: 45px 150px 66px;   
    justify-content: center; 
    
}

.container__1{
    width: 40%; 
    display: inline-block;
    margin-right: 104px;
    
}

.container__1 img{
    height: 237px;
    width: 399px;
    
}

.container__1 p{
    font-size: 16px;
    font-weight: 300;
}

.container2 {
    background-color: rgba(30, 26, 19, 1);
    color: white;
    height: 348px;
    width: auto;   
    text-align: center;       
    
}

.container2 h2{
    font-size: 40px;
    font-weight: 500;
    padding-top: 75px;
    margin-bottom: 50px;
    
}

.container2 .box{
    display: inline-block;
    justify-content: center;
    width: 30%;
    padding: 1,5%;
    text-align: center;    
    
}

.container2 .box p{
    font-size: 25px;
    font-weight: 300;
    
}


.container3{
    height: 348px;
    width: auto; 
    text-align: center;
    padding: 73px 150px;

}

.container3 .box-image img{
    text-align: center;  
    width: 316px;
    height: 202px;
    margin: 5px;  
    
}

footer{
    background-color: rgba(30, 26, 19, 1);
    height: 102px;
    text-align: center;
    padding:39px;
    font-size: 20px;
    
}
